page-home {
    .box {
        width: 16.5vw;
        height: 16.5vw;
        margin: 3vw;
        display: inline-block;
    }
    .selected {
        border-radius: 36px;
    }
    ion-content {
        background-color: #c0c0d4 !important;
    }
}
