page-game2 {
    .box {
        width: 16vw;
        height: 16vw;
        margin: 2vw;
        display: inline-block;
    }
    .selected {
        border-radius: 36px;
    }
    ion-content {
        background-color: #e4e4e4 !important;
    }
    .rotar {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
$colorsGame: (
    a: #ff5050, 
    b: #ffd633, 
    c: #3366ff,
    d: #33cc33, 
    e: #cc6699, 
    f: #996633, 
    g: #652996, 
    h: #8d8d8d,
    i: #292929,
    j: #e28a17
);
