<ion-header (swipe)="swipeEvent($event, array1)">
    <div *ngFor="let box of array1; let column = index" class="box" [ngStyle]="{'background-color': box}"
        (click)="play(0, column, box)"></div>
</ion-header>

<ion-content>
    <div style="height: 50%; background-color: rgb(245, 194, 127)">
        <div *ngFor="let boxes of matriz1">
            <div *ngFor="let box of boxes" class="box" [ngStyle]="{'background-color': box}"></div>
        </div>
    </div>
    <div style="height: 50%; background-color: rgb(196, 134, 238)">
        <div *ngFor="let boxes of matriz2">
            <div *ngFor="let box of boxes" class="box" [ngStyle]="{'background-color': box}"></div>
        </div>
    </div>
</ion-content>

<ion-footer (swipe)="swipeEvent($event, array2)">
    <div *ngFor="let box of array2; let column = index" class="box" [ngStyle]="{'background-color': box}" 
        (click)="play(1, column, box)"></div>
</ion-footer>