<ion-header color="primary" (swipe)="swipeEvent($event, array1, -1)">
    <div style="transform: rotate(180deg); width: 100%">
        <div *ngFor="let box of array1; let column = index" class="box" [ngStyle]="{'background-color': box}"
            (click)="play(0, column, box)"></div>
    </div>
</ion-header>

<ion-content>
    <div style="height: 50%; background-color: rgb(245, 194, 127); transform: rotate(180deg);">
        <div *ngFor="let boxes of matriz1">
            <div *ngFor="let box of boxes" class="box" [ngStyle]="{'background-color': box}"></div>
        </div>
    </div>
    <div style="height: 50%; background-color: rgb(196, 134, 238)">
        <div *ngFor="let boxes of matriz2">
            <div *ngFor="let box of boxes" class="box" [ngStyle]="{'background-color': box}"></div>
        </div>
    </div>
    <ion-fab left middle>
        <button ion-fab mini color="primary" style="transform: rotate(180deg);">{{score[0]}}</button>
    </ion-fab>
    <ion-fab right middle>
        <button ion-fab mini color="secondary">{{score[1]}}</button>
    </ion-fab>
</ion-content>

<ion-footer (swipe)="swipeEvent($event, array2, 1)" color="secondary">
    <div *ngFor="let box of array2; let column = index" class="box" [ngStyle]="{'background-color': box}" 
        (click)="play(1, column, box)"></div>
</ion-footer>